body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link:hover {
  color: darkblue !important;
}

.navbar-brand:hover {
  color: darkblue !important;
}

.loginWrapper {
  top: 0;
  left: 0;
}

#navbarNav, #navWrapper, #navMaster, .navbar-brand {
  background-color: slategray !important;
}

#mainWrapper {
  height: 100vh;
  width: auto;
}

#loginModal {
  background-color: transparent;
  border: transparent;
}

#loginModal:hover {
  color: darkblue;
}

#logOut {
  background-color: transparent;
  border: transparent;
}

#logOut:hover {
  color: darkblue;
}