body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
  background-image: url('../assets/background.webp');
  z-index: 1;
}

p, h1, h2, li {
  color: azure;
}

.hidden {
  display: none;
}

.nav-link {
  color: azure !important;
}

.navbar-brand {
  color: azure !important;
}

.nav-link:hover {
  color: darkblue !important;
}

.navbar-brand:hover {
  color: darkblue !important;
}

.loginWrapper {
  top: 0;
  left: 0;
}

#navbarNav, #navWrapper, #navMaster, .navbar-brand {
  background-color: slategray !important;
}

#navMaster {
  z-index: 10;
}

#mainWrapper {
  height: 100vh;
  width: auto;
  margin-top: 2rem;
  z-index: 9;
  position: relative;
}

#shader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(000, 000, 000, 0.3);
  z-index: 2;
}

#loginModal {
  background-color: transparent;
  border: transparent;
}

#loginModal:hover {
  color: darkblue;
}

#logOut {
  background-color: transparent;
  border: transparent;
}

#logOut:hover {
  color: darkblue;
}