@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

select {
  color: azure !important;
  border: none !important;
  background: transparent !important;
}

option {
  color: black;
}

.button {
  background: transparent !important;
}

.button:hover {
  color: darkblue;
}

.hidden {
  display: none;
}

.map-container {
  width: 80%;
  min-height: 300px;
}

.userTitle {
  font-size: 1rem !important;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 500px;
  height: auto;
}

.commentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px gray;
}

#mainWrapper {
  height: 100vh;
  width: auto;
  margin-top: 2rem;
}

#navWrapper {
  position: sticky;
  top: 0;
}

#textWrapper {
  word-wrap: break-word;
}

#submitWrapper {
  display: block;
  max-width: 33% !important;
  margin-left: 33%;
  bottom: 0;
  position: static;
  overflow: hidden;
}