body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

select {
  color: azure !important;
  border: none !important;
  background: transparent !important;
}

option {
  color: black;
}

.button {
  background: transparent !important;
}

.button:hover {
  color: darkblue;
}

.hidden {
  display: none;
}

.map-container {
  width: 80%;
  min-height: 300px;
}

.userTitle {
    font-size: 1rem !important;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 500px;
    height: auto;
}

.commentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: solid 1px gray;
}

#mainWrapper {
  height: 100vh;
  width: auto;
  margin-top: 2rem;
}

#navWrapper {
  position: sticky;
  top: 0;
}

#textWrapper {
  word-wrap: break-word;
}